// variables de anchos
$col1: calc(100% / 12); // 1
$col2: calc(100% / 6);  // 2
$col3: calc(100% / 4);  // 3
$col4: calc(100% / 3);  // 4
$col6: calc(100% / 2);  // 6
$col8: calc(100% / 1.3);// 8
$col12: 100%;     // 12